@model GreetSomeoneApp.Models.UserInfo

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="position:center;text-align:center; font-size:50px;color:gold;background-image:url(https://i.imgur.com/q0svo9O.gif);background-size:cover;background-repeat:no-repeat">
    <h1>Greetings @Model.Name</h1>
</body>
</html>