div {
    box-sizing: border-box;
}
.wholebox {
    font-family: Arial, sans-serif;
    background: #dbd5cc;
    width: 600px;
    height: 730px;
    margin: 0 auto;
    position: relative;
}
.top {
    font-size: 20px;
    width: 100%;
    height: 35px;
    background: #dbd5cc;
    position: absolute;
    top: 10px;    
    padding: 10px;
}

.left {
    margin-top: 57px;
    width: 50%;
    height: 320px;
    background: #dbd5cc;
    position: relative;
    padding: 10px;
    float: left;  
}

.right {
    margin-top: 57px;    
    width: 50%;
    height: 320px;
    background: #dbd5cc;
    position: relative;
    float: right;    
    padding: 10px;
}

.bottom {
    width: 100%;
    height: 135px;
    background: #dbd5cc;
    position: absolute;
    margin-top: 390px;
    padding: 10px;
}

.left_left {
    padding: 10px;
    position: absolute;
    width: 25%;
    height: 30px;
    margin-top: 165px ;    
}

.left_right {
    padding: 10px;
    position: absolute;
    width: 25%;
    height: 30px;
    margin-top: 165px ;
    margin-left: 112px;
}

.left_bottom {
    padding: 10px;
    position: absolute;
    width: 50%;
    height: 110px;
    margin-top: 230px ;
}

p {
    font-weight: bold;
    font-size: 14px;
    color:#dedede;
    background: #928b96;
    margin: 0;
    padding: 10px;}

#telefonszám,
#email,
#fbook,
#twitter,
#name,
select {
    border-radius: 4px;
    width: 220px;
    height: 18px;
}

label {
    font-weight: bold;
    font-size: 12px;
}

#you {
    border-radius: 4px;    
    width: 450px;
    height: 120px;
}